In [12]:
tup=1,2,3,4,
print(type(tup))

<class 'tuple'>

In [13]:
tup=(1,3,2,3,4,5222,2,2,4)
print(tup.index(2))
print(tup.count(2))

2
3

In [14]:
# Q.WAP to ask the user to enter names of their 3 favorite movies & store them in a list.
movies=[]
mov1=input("enter 1st movie name")
mov2=input("enter 2nd movie name")
mov3=input("enter 3rd movie name")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)
print(type(movies))

['avengers', 'spider', 'dr.s.']
<class 'list'>

In [15]:
list1=[1,2,1]
copy_list1=list1.copy()
copy_list1.reverse()
if (copy_list1==list1):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [16]:
# Q.WAP to count the number of students with the "A" grade in the following tuple.
grades=("C", "D", "A", "A", "B", "B", "A")
print(grades.count("A"))
print(type(grades))

3
<class 'tuple'>

In [17]:
# Q.Store the above values in a list & sort them from "A" to "D".
grades1=["C", "D", "A", "A", "B", "B", "A"]
grades1.sort()
print(grades1)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [18]:
dict={

    "name":"maaz",
    "roll no":2023322256,
    "marks":[87,89,43],
    
}
dict["firstname"]="mohd"
dict["lastname"]="raeen"
dict["name"]="maaz"
print(dict)

{'name': 'maaz', 'roll no': 2023322256, 'marks': [87, 89, 43], 'firstname': 'mohd', 'lastname': 'raeen'}

In [19]:
# nested dict
info={
    "name":("mohd Maaz Raeen"),
    "marks":({"phy":75,"english":85,"maths":78}),
    "B.tech":("ai and ml")
    
}
print(info)
print(info["marks"]["english"])

{'name': 'mohd Maaz Raeen', 'marks': {'phy': 75, 'english': 85, 'maths': 78}, 'B.tech': 'ai and ml'}
85

In [20]:
#dictionary method.
print(info.keys())#returns all keys

print(info.values())#returns all values

print(info.values())#returns all (key, val) pairs as tuples

#print(info["name2"]) #error
#print(info.get("name2")) #none
print(info.get("name"))#returns the key according to value

info.update({"city":"delhi"})
#info.update({"name":"maaz"})

print(info)

dict_keys(['name', 'marks', 'B.tech'])
dict_values(['mohd Maaz Raeen', {'phy': 75, 'english': 85, 'maths': 78}, 'ai and ml'])
dict_values(['mohd Maaz Raeen', {'phy': 75, 'english': 85, 'maths': 78}, 'ai and ml'])
mohd Maaz Raeen
{'name': 'mohd Maaz Raeen', 'marks': {'phy': 75, 'english': 85, 'maths': 78}, 'B.tech': 'ai and ml', 'city': 'delhi'}

#sets in python

In [21]:
set1={1,2,3,4,4,4,5,3,3,"hello","hello","world","world"}#returns randomly...
print(set1)
print(type(set1))
print(len(set1))

{1, 2, 3, 4, 5, 'world', 'hello'}
<class 'set'>
7

In [22]:
set1=set()
print(type(set1))
set1.add(1)
set1.add(2)
set1.add(3)
set1.remove(2)
print(set1)

<class 'set'>
{1, 3}

In [23]:
def my_info():
  """this is a function to print my information """#docstring
  name="maaz"
  system_id=2023322256
  print("i am ",name,"and my system id",system_id,)

In [24]:
print(my_info())

i am  maaz and my system id 2023322256
None

In [25]:
# Q.
def discount(p):
    for i in range(5,21,5):
      "price after",i," % discount is ",p-i/100*p

In [26]:
def integer(i):
    if i%2==0:
        print("even number")
    else:
        print("odd number")

In [27]:
integer(3)

odd number

In [28]:
def inte(num):
    return num%2==0

In [29]:
inte(4)

True

In [30]:
dictionary={
    "table":["a piece of furniture", "list of facts & figures"],
    "cat":(["a small animal"])
   
} 
print(dictionary)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': ['a small animal']}

In [31]:
# Q.WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with an empty dictionary & add one by one. Use subject name as key & marks as value.
marks={}

x=int(input("enter phy :"))
marks.update({"phy":x})

x=int(input("enter maths :"))
marks.update({"maths":x})

x=int(input("enter python :"))
marks.update({"python":x})

x=int(input("enter c :"))
marks.update({"c":x})

print(marks)

{'phy': 78, 'maths': 90, 'python': 98, 'c': 8}

In [32]:
name="maaz raeen"
print(name.replace("maaz","mohd"))
# print(new_name)

mohd raeen

In [33]:
for i in range(10,20,3):
    print(i)

10
13
16
19

In [34]:
word='python'
for i in word:
    print(i)

p
y
t
h
o
n

In [35]:
list1=[23,4,5,6,7,55,54,"maaz"]
for i in list1:
    print(i)
else:
    print("no item in list")

23
4
5
6
7
55
54
maaz
no item in list

In [36]:
phone_price=int(40000)
for i in range(5,21,5):
    print("price after discount",phone_price-(phone_price*i)/100)

price after discount 38000.0
price after discount 36000.0
price after discount 34000.0
price after discount 32000.0

In [37]:
num=2
for i in range(1,11):
    print(num,"*",i ,"=",num*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [38]:
for i in range(2,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [39]:
count=int(input("enter number"))
while count <5:
    print(count)
    count+=1
else:
    print("loop condition is false")

loop condition is false

In [40]:
count = int(input("Enter a number: "))

while count < 5:
    print(count)
    count += 1
else:
    print("Loop condition is no longer true")

Loop condition is no longer true

In [41]:
price=40000
i=5
while i<=20:
    discount_price=price-(price*i)/100
    print(discount_price)
    i=i+5

38000.0
36000.0
34000.0
32000.0

In [42]:
count=1
while count<=10:
    print("2 *",count,"=",2*count)
    count+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [43]:
num=2
while num<=10:
    if num%2==0:
     print(num)
    num+=1

2
4
6
8
10

In [44]:
value=["sdhbfhe",True]
print(any(value))
print(all(value))

True
True

In [45]:
value=[]
print(any(value))
print(all(value))

False
True

In [46]:
num=[1,4,53,21,6]
result=any(x>10 for x in num )
print(result)

True

In [47]:
nums=[1,2,3,4,5,6,8]
check=all(x%2==0 for x in nums)
print(check)

False

In [48]:
names=["maaz","priyanshu","lareb"]
ages=[19,20,19]
for name, age in zip(names,ages):
    print(name,"is",age,"years old")

maaz is 19 years old
priyanshu is 20 years old
lareb is 19 years old

In [49]:
fruits=["banana","apple","mango"]
for index,value in enumerate(fruits):
    print(index,value)

0 banana
1 apple
2 mango

In [50]:
list1=["apple",23,"banana",392,"mango"]
for i in list1:
    if i==2:
        break
    print(i)

apple
23
banana
392
mango

In [51]:
number=[12,3,45,90,34,15]
for num in number:
    if num>50:
        print(num,"is greater than 50")
        break

90 is greater than 50

In [52]:
number = int(input("Enter a number: "))

while number > 50:
    print(number, "is greater than 50")
    break

78 is greater than 50

In [53]:
correct_password = "secerate"
password=input("enter password")
if password==correct_password:
    print("login successfully")
else:
    print("login unsuccessful")

login unsuccessful

In [54]:
correct_password = "secerate"
while True:
    password=input("enter the password")
    if password==correct_password:
            print("login successfully")
            break
    else:
             print("login unsuccessful")
             break

login unsuccessful

In [55]:
correct_password = "secerate"
i=1
while i<=3:
    password=input("enter the password")
    if password==correct_password:
            print("login successfully")
            break
    else:
             print("login unsuccessful")
             i=i+1
else:
    print("more than 3 times account blocked")

login unsuccessful
login unsuccessful
login unsuccessful
more than 3 times account blocked

In [56]:
nums=[1,2,3,4,5,6,6]
for i in nums:
    if i%2!=0:
        print(nums)

[1, 2, 3, 4, 5, 6, 6]
[1, 2, 3, 4, 5, 6, 6]
[1, 2, 3, 4, 5, 6, 6]

In [57]:
score = int(input("Enter the student's score: "))

if score >= 90:
    grade = 'A'
else:
    if score >= 80:
        grade = 'B'
    else:
        if score >= 70:
            grade = 'C'
        else:
            if score >= 60:
                grade = 'D'
            else:
                grade = 'F'

print("The student's grade is:", grade)

The student's grade is: F

In [58]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
  if number > 3:
    break  # Exit the loop once a number greater than 3 is found
  print(number)

1
2
3

In [59]:
letters = 'apple'
for letter in letters:
  if letter == 'p':
    continue  # Skip printing 'p'
  print(letter)

a
l
e

In [60]:
x = 5  # Binary: 101
y = 3  # Binary: 011
bitwise_and = x & y  # Result: 001 (Decimal: 1)
print(bitwise_and)

1

In [61]:
students = ["Alice", "Bob", "Charlie"]
courses = {"Alice": ["Math", "Science"], "Bob": ["History", "English"], "Charlie": ["Math", "English"]}

for student in students:  # Outer loop iterates through each student
  print(student + ":")
  for course in courses[student]:  # Inner loop iterates through courses for that student
    print("-", course)
  print()  # Print a new line after each student's schedule

Alice:
- Math
- Science

Bob:
- History
- English

Charlie:
- Math
- English

In [62]:
name = 'Alice'
age = 30
formatted_str = f"My name is {name} and I am {age} years old."
formatted_str

'My name is Alice and I am 30 years old.'

In [63]:
# Using format()
name = 'Bob'
age = 25
formatted_str = "My name is {} and I am {} years old.".format(name, age)
print(formatted_str)
# Positional arguments
formatted_str_pos = "My name is {0} and I am {1} years old.".format(name, age)
print(formatted_str_pos)
# Keyword arguments
formatted_str_kw = "My name is {name} and I am {age} years old.".format(name=name, age=age)
print(formatted_str_kw)

My name is Bob and I am 25 years old.
My name is Bob and I am 25 years old.
My name is Bob and I am 25 years old.

In [64]:
# max(), min(): Returns the maximum and minimum characters based on ASCII values.
my_string="mohd maaz"
max_char = max(my_string)
print(max_char)
min_char = min(my_string)
print(min_char)

z

In [65]:
# count(): Count occurrences of a specific element.
occurrences_of_seven = my_string.count('l') # Count occurrences
occurrences_of_seven

0

In [66]:
movies=[]
movies.append(input("enter first movie"))
movies.append(input("enter second movie name"))
movies.append(input("enter third movie"))
print(movies)

['8887', '999', '8']

In [67]:
list1=["m","a","a","m"]
copy_list1=list1.copy()
copy_list1.reverse()
if list1==copy_list1:
    print("palindrome")
else:
    print("nor palindrome")

palindrome

In [68]:
grades=["A","B","C","A","C","D","A","B","b"]
grades.sort()
type(grades)
print(grades)

['A', 'A', 'A', 'B', 'B', 'C', 'C', 'D', 'b']

In [69]:
def distance_between_points(x1, y1, x2, y2):
    return ((x2 - x1)**2 + (y2 - y1)**2)**0.5

def main():
    print("Enter coordinates of first point (x1, y1):")
    x1 = float(input("x1: "))
    y1 = float(input("y1: "))

    print("\nEnter coordinates of second point (x2, y2):")
    x2 = float(input("x2: "))
    y2 = float(input("y2: "))

    distance = distance_between_points(x1, y1, x2, y2)
    print("\nThe distance between the two points is:", distance)

if __name__ == "__main__":
    main()

Enter coordinates of first point (x1, y1):

ValueError: could not convert string to float: ''

In [ ]:
#Write a program to calculate area of a triangle.
height=int(input("Enter height:"))
base=int(input("Enter base:"))
area_of_triangle=1/2*height*base
print("area of triangle :",area_of_triangle)

area of triangle : 4.0

In [ ]:
#An ATM contains Indian Currency notes of 100,200,500 and 2000. Write a python program which calculates and displays the minimum number of notes required to be dispensed to meet the user’s requirement.
amount=int(input("enter amount to withdraw:"))
count_2000=amount//2000
amount=amount%2000

count_500=amount//500
amount=amount%500

count_200=amount//200
amount=amount%200

count_100=amount//100
amount=amount%100

print("2000 notes:",count_2000)
print("500 notes:",count_500)
print("200 notes:",count_200)
print("100 notes:",count_100)
if amount!=0:
    print("notes not found")

2000 notes: 1
500 notes: 1
200 notes: 1
100 notes: 1
notes not found

In [ ]:
#You are given a number A which contains only digits 0's and 1's. Your task is to make all digits same by just flipping one digit (i.e. 0 to 1 or 1 to 0 ) only. If it is possible to make all the digits same by justflipping one digit then print 'YES' else print 'NO'.

def can_make_same(digits):
    count_0 = digits.count('0')
    count_1 = digits.count('1')

    if count_0 == 1 or count_1 == 1:
        return 'YES'
    else:
        return 'NO'

# Example usage:
number = input("Enter the number containing only 0s and 1s: ")
print(can_make_same(number))

YES

In [ ]:
#Write a program to accept an year as input from the user and check if the given year is a leap year or not.
year=int(input("enter the year:"))
if year%400==0:
    print("leap year")
elif year%100==0:
    print("not a leap year")
elif year%4==0:
    print("leap year")
else:
    print("not leap year")

not a leap year

In [ ]:
#check prime number
num=int(input("enter number"))
for i in range(2,num):
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

prime

In [ ]:
#Write a program that accepts % of marks from a user and displays grades as per the following rule.

# a. marks>=90 grade is A
# b. marks >=80 grade is B
# c. marks>=70 grade is C
# d. marks>=60 grade is D
# e. others Fail"
marks=int(input("Enter the marks:"))
if marks>100:
    print("invalid marks")
marks=int(input("Enter the marks:"))

if marks>=90:
    print("grade:'A'")
elif marks>=80:
    print("grade:'B")
elif marks>=70:
    print("grade:'C")
elif marks>=60:
    print("grade:'D")
else:
    print("Fail")

invalid marks
Fail

In [ ]:
# Write the code to perform following operations on the list
# L1=[12,23,23,56,67,24]
# a. find number of elements in the list
# b. remove 3rd element
# c. add 33 at index position 0
# d. add 99 at the end of the list
# e. search for `67' in the list and if it exists print its index position.

L1=[12,23,23,56,67,24]
len(L1)
L1.pop(2)
L1.insert(0,33)
L1.append(99)
if 67 in L1:
    index_67=L1.index(67)
    print(index_67)
else:
    ("68 not found")
print(L1)

4
[33, 12, 23, 56, 67, 24, 99]

In [ ]:
# You are provided with a list of grocery items purchased by a
# customer. As shown below. Write python code to print the name of
# the item and its quantity (occurrences in the list).
# L=[“pen”,“ball”,“eraser”,“pen”,“band”,“pen”,“Pencil”,“ball”]
# Which item is the most occurring item from the list?"

L = ["pen", "ball", "eraser", "pen", "band", "pen", "Pencil", "ball"]

In [ ]:
def calculate_sum(*maaz):
    return sum(maaz)
result=calculate_sum(3,4,5)
print("sum:",result)

sum: 12

In [ ]:
def fruit(*fruits,discount_price=0.1):
    total=sum(fruits)-discount_price*sum(fruits)
    return total
fruits=fruit(2,5,3)
print(fruits)

9.0

In [ ]:
# You are provided with following data consisting of grocery items and
# their cost.
# price = [('item1', '17.20'), ('item2', '15.10'), ('item3', '24.5')]
# sort the above data on the basis of price and display it in order.
# Which item is the second costliest in the list.

price = [('item1', '17.20'), ('item2', '15.10'), ('item3', '24.5')]
price.sort()
print(price)

[('item1', '17.20'), ('item2', '15.10'), ('item3', '24.5')]

In [ ]:
def gen_numbers(n):
    for i in range(n):
        yield i
for num in gen_numbers(6):
    print(num)

0
1
2
3
4
5

In [ ]:
def fib_gen(n):
    result=[]
    a=0
    b=1
    for _ in range(n):
        result.append(a)
        a=b
        b=a+b
    return result
fib_gen(10)

[0, 1, 2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
def fib_gen(n):
    a=0
    b=1
    count=0
    while count<n:
        yield a
        a=b
        b=a+b
        count+=1
fib_seq=list(fib_gen(10))
print(fib_seq)

[0, 1, 2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
def fibonacci(n):
    fib_series = [0, 1]
    while len(fib_series) < n:
        next_term = fib_series[-1] + fib_series[-2]
        fib_series.append(next_term)
    return fib_series

# num_terms = 10
fib_series = fibonacci(10)
# print("Fibonacci series up to", num_terms, "terms:")
print(fib_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def fib(n):
    fib_series(0,1)
    while len(fib_series)<n:
        next_term=fib_series(-1)+fib_series(-2)
        fib_series.append(next_term)
    return fib_series
fib_series=fibonacci(10)
print(fib_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
from functools import reduce

# Define a lambda fu22nction to calculate the factorial
factorial = lambda n: reduce(lambda x, y: x * y, range(1, n + 1))

# Input number for which factorial needs to be calculated
num = int(input("Enter a number: "))

# Calculate and print the factorial
print("Factorial of", num, "is:", factorial(num))

Factorial of 2 is: 2

In [ ]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

# Input number for which factorial needs to be calculated
num = int(input("Enter a number: "))

# Calculate and print the factorial
print("Factorial of", num, "is:", factorial(num))

Factorial of 0 is: 1

In [ ]:
def factorial(n):
    if n<0:
        return "factorial is defined for negative numbers"
    elif n==0:
        return 1
    else:
        result=1
        for i in range(1,n+1):
             result *= i
        return result
num=int(input("Enter thr number: "))       
print("facorial of", num ,"is:",factorial(num))

facorial of 4 is: 24

In [ ]:
def calculate_area(r):
    area=3.14*r**2
    return "area of circle=",area
calculate_area(10)

('area of circle=', 314.0)

In [ ]:
my_list =[3,4,5,3,2,2]
sum(my_list)

19

In [84]:
def calculate_sum(numbers):
    """functon to calculate sum of numbers"""
    total=0
    for num in numbers:
        total+=num
    return total
num_list=(1,2,3,4,5)
print("sum of the numbers:",calculate_sum(num_list))

sum of the numbers: 15

In [86]:
def add_numbers(numbers):
    total=0
    for num in numbers:
        total+=num
    return total
num_list=(2,3,5)
print("sum of the numbers:",add_numbers(num_list))

sum of the numbers: 10

In [91]:
square=lambda x: x**2
for num in range(1,6):
    print("square of:",num,"is",square(num))

square of: 1 is 1
square of: 2 is 4
square of: 3 is 9
square of: 4 is 16
square of: 5 is 25

In [100]:
p1=78
def My_func():
    p1=23
    print(p1)
My_func()
print(p1)

23
78

In [105]:
global_var=23
def My_func():
    local_var=34
    print("inside func :",global_var)
    print(local_var)
My_func()
print("outside the function",local_var)

inside func : 23
34

NameError: name 'local_var' is not defined

In [107]:
global_var=10
def my_func():
    global global_var
    global_var+=5
    local_var=19
    print("inside the func:")
    print("global_var :",global_var)
    print("local_var:",local_var)
my_func()
print("outside the func :",global_var)

inside the func:
global_var : 15
local_var: 19
outside the func : 15

In [113]:
a=[12,3,2]
try:
    print("second element:",(a[1]))
    print("fourth element:",(a[3]))
except:
    print("an error acccured")

second element: 3
an error acccured

In [121]:
try: 
    with open("non_existent_file.txt"):
        pass
except FileNotFoundError:
    print("error: the file does not exist")

error: the file does not exist

In [130]:
try:
    num1=int(input("enter 1st num"))
    num2=int(input("enter 2nd num"))
    result=num1/num2
except ValueError:
    print("please enter a valid integer")
except ZeroDivisionError:
    print("can not divide by zero")
else:
    print("result :",result)
finally:
    print("end of the program")

result : 1.0
end of the program

In [10]:
def func(n):
    if n<0:
        raise NegativeValueError("cannot")
    return n
try:
   r= func(-2)
except NegativeValueError as e:
    print("error:",e)

NameError: name 'NegativeValueError' is not defined

In [17]:
def calculate_quetiont(numerator,denominator):
    try:
        quetiont=numerator/denominator
        return quetiont
    except ZeroDivisionError:
        print("can't divide by zero")
        return None
print("quetiont:",calculate_quetiont(10,2))
print("quetiont:",calculate_quetiont(5,0))

quetiont: 5.0
can't divide by zero
quetiont: None

In [33]:
def fib(n):
    result=[]
    
    a=0
    b=1
    for i in range(0,n):
        
        result.append(a)
        a,b=b,a+b
        
    return result
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [414]:
#recursive funtion
def fibonacci_recursive(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_sequence = fibonacci_recursive(n - 1)
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
        return fib_sequence

# Example usage:
n = 5
fib_sequence = fibonacci_recursive(n)
print("First", n, "terms of Fibonacci sequence:", fib_sequence)

First 5 terms of Fibonacci sequence: [0, 1, 1, 2, 3]

In [35]:
def fib(n):
    if n==0:
        return []
    elif n==1:
        return [0]
    elif n==2:
        return [0,1]
    else:
        fib_seq=fib(n-1)
        fib_seq.append(fib_seq[-1]+fib_seq[-2])
        return fib_seq
n=10
fib_seq=fib(n)
print("first",n,"terms of fibonacci series :",fib_seq)

first 10 terms of fibonacci series : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [36]:
def greet_user(name, greeting="Hello"):
    print(greeting + ", " + name)

# Test the function
greet_user("Alice")  # Will print: Hello, Alice
greet_user("Bob", "Hi")  # Will print: Hi, Bob

Hello, Alice
Hi, Bob

In [45]:
def greet_user(name,greeting="hello"):
    print(greeting+","+name)
    #test the function
greet_user("Alice")
greet_user("bob","hi")

hello,Alice
hi,bob

In [55]:
x=5
y=";"
try:
    z=x+y
    print(z)
except TypeError:
    print("str and int can be add")

str and int can be add

In [57]:
class Example:
    def add(a,b):
        return a+b
print(Example.add(8,4))
print(Example.add)

12
<function Example.add at 0x105341e50>

In [68]:
class Example:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
e=Example(6,3)
print(e.add())
print(e.a)

9
6

In [93]:
class Example:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def fun(self):
        print("just for testing")

random=Example(3,4)
print(random.add())
random.fun()

7
just for testing

In [91]:
class Analzer:
    def __init__(self,s):
        s=s.lower()
        self.words=s.split()
    def no_of_words(self):
         return len(self.words)
s="this is how our class Analyzer will work.Let's see"
analyzer=Analzer(s)
analyzer.words
analyzer.no_of_words()

9

In [104]:
class Person:
    def __init__(self,name,age,branch):
        self.name=name
        self.age=age
        self.branch=branch
    def info(self):
        print("hello my name is {} and i am {} years old".format(self.name,self.age))
    def edu(self):
        print("my brach is {} in B.tech".format(self.branch))
person1=Person("maaz",19,"ai & ml")
person1.info()
person1.edu()

hello my name is maaz and i am 19 years old
my brach is ai & ml in B.tech

In [125]:
class Car:
    def __init__(self,brand,model,year):
        self.brand=brand
        self.model=model
        self.year=year
        self.speed=0
    def details(self):
        print(f"{self.brand} {self.model} {self.year} {self.speed}")
car1=Car("maruti-suzuki","swift",1990)

car1.details()

maruti-suzuki swift 1990 0

In [117]:
# counter With out __init__
class Counter:
    def set_count(self,count):
        self.count=count
counter_without_init=Counter()
counter_without_init.set_count(10)
print("counter without init method",counter_without_init.count)

counter without init method 10

In [129]:
class Counter:
    def __init__(self,count):
        self.count=count
        
count1=Counter(10)
count1.count

10

In [139]:
class Myclass:
    def __init__(self,name):
        self.name=name
    def create(self):
        print("created :",self.name)
    def __del__(self):
        print("destroyed :",self.name)
myclass1=Myclass("maaz")
myclass2=Myclass("lareb")
del myclass1
del myclass2

destroyed : maaz
destroyed : lareb

In [171]:
#not protected
class Example:
    def __init__(self,a,b):
        self.__a=a
        self.__b=b
    def add(self):
        return self.__a+self.__ab
e=Example(4,6)
e.add()
print(e.__a)

AttributeError: 'Example' object has no attribute '_Example__ab'

In [156]:
#protected
class Example:
    def __init__(self,a,b):
        self._a=a
        self.b=b
    def add(self):
        return self._a+self.b
e=Example(4,6)
e.add()
print(e._a)

4

In [173]:
#private
class Example:
    def __init__(self,a,b):
        self.__a=a
        self.__b=b
    def add(self):
        return self.__a+self.__b
e=Example(5,6)
e.add()
# print(e.a)
# print(e.b)
print(f"{e.__a}")

AttributeError: 'Example' object has no attribute '__a'

In [168]:
class Example:
    def __init__(self, a, b):
        self.__a = a
        self.__b = b
    
    def add(self):
        return self.__a + self.__b

e = Example(5, 6)
# print(e.add())  # This will print: 11

# Attempting to access private attributes directly will raise AttributeError
# print(e.__a)  # This will raise an AttributeError
# print(e.__b)  # This will raise an AttributeError

AttributeError: 'Example' object has no attribute '__a'

In [205]:
class Bankaccount:
    def __init__(self,account_no,balance=0):
        self.account_no=account_no
        self.balance=balance
    def deposit(self,ammount):
        if ammount>0:
            self.balance+=ammount
    def withdrawl(self,ammount):
        if 0<ammount<=self.balance:
            self.balance-=ammount
    def get_balance(self):
        return self.balance
    def get_account_no(self):
        return self.account_no
e=Bankaccount(73247743,9000)
e.account_no
e.deposit(5000)
e.withdrawl(7000)
print("account balance",e.get_balance())

account balance 7000

In [210]:
class Animal:
    def speak(self):
        pass
class Cat(Animal):
    def speak(self):
        return "meow !"
class Dog(Animal):
    def speak(self):
        return "woof !"
dog=Dog()
cat=Cat()
print("Dog says :",dog.speak())
print("Cat says :",cat.speak())

Dog says : woof !
Cat says : meow !

In [224]:
class Person:
    def __init__(self,name,age,add):
        self.__name=name
        self.__age=age
        self.__add=add
        
    def get_name(self):
        return self.__name
    def set_name(self,name):
        self.__name=name
    
    def get_age(self):
        return self.__age
    def set_age(self,age):
        self.__age=age
    
    def get_add(self):
        return self.__add
    def set_add(self,add):
        self.__add=add
person=Person("maaz",19,"sahanpur")

print("person name : ",person.get_name())
print("person age : ",person.get_age())
print("person adddres : ",person.get_add())

person.set_name("lareb")
person.set_age(18)
person.set_add("nurpur")
print("\nModified details")
print("person name : ",person.get_name())
print("person age : ",person.get_age())
print("person adddres : ",person.get_add())

person name :  maaz
person age :  19
person adddres :  sahanpur

Modified details
person name :  lareb
person age :  18
person adddres :  nurpur

In [251]:
class Shape:
    def area(self):
        pass
class Circle(Shape):
    def __init__(self,redius):
        self.redius=redius
    def area(self):
        return 3.14*self.redius**2
    
class Ractangle(Shape):
    def __init__(self,hieght,width):
        self.hieght=hieght
        self.width=width
    def area(self):
        return self.hieght*self.width
circle_area=Circle(10)
circle_area.area()
ractangle_area=Ractangle(3,4)
ractangle_area.area()

12

In [249]:
class Ractangle(Shape):
    def __init__(self,hieght,width):
        self.hieght=hieght
        self.width=width
    def area_of_ractangle(self):
        return self.hieght*self.width
ractangle_area=Ractangle(3,4)
ractangle_area.area_of_ractangle()

12

In [255]:
class Animal:
    def speak(self):
        pass
class Dog(Animal):
    def speak(self):
        return "woof !"
class Cat(Animal):
    def speak(self):
        return "Meow!"
dog=Dog()
cat=Cat()
dog.speak()
cat.speak()

'Meow!'

In [267]:
def my_decorater(func):
    def my_wrapper():
        print("somthing is hapning before the function called")
        func()
        print("somthing is hapning after the function called")
        return my_wrapper
@my_decorater
def say_hello():
    print("hello")
say_hello()

TypeError: 'NoneType' object is not callable

In [275]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    def details(self):
        print("this in make by {} and it's model is {} and it is {} year old".format(self.make,self.model,self.year))
    @staticmethod
    def my_static():
        print("a car is a vehicle")
car=Car("carbon fiber","toyota",1)
car.details()
car.my_static()

this in make by carbon fiber and it's model is toyota and it is 1 year old
a car is a vehicle

In [276]:
class Example:
    def _final_method(self):
        """this method should not be overridden """
        print("this is final method")
e=Example()
e._final_method()

this is final method

In [283]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self._model=model
        self.__year=year
    def display_info(self):
        print(f"{self.make} {self._model}")
car1=Car("toyota","fortuner",2020)
car1.display_info()
print(car1.make)
print(car1._model)
print(car1.__year)

toyota fortuner
toyota
fortuner

AttributeError: 'Car' object has no attribute '__year'

In [285]:
class Myclass:
    def global_var():
        x=34
class Localclass:
    def __init__(self,value):
        self.value=value
    def display_info(self):
        print("value :",self.value)
localclass=Localclass(x)
localclass.display_info()
global_var()

value : 5

NameError: name 'global_var' is not defined

In [306]:
import os
os.getcwd()
f=open("myfile.txt","w")
f.write("hi")

2

In [323]:
f=open("random.txt","w")
f.write("hi")
f.close()
f=open("random.txt","r")
print(f.read())

hi

In [334]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)

num=6
num=fact(n)
print(num)

120

In [333]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n - 1)

n = 5  # Example value for n
num = fact(n)
print(num)

120

In [336]:
import os
os.getcwd()
import math_operation_1
print(math_operation_1.add(5,6))

ModuleNotFoundError: No module named 'math_operation_1'

In [337]:
import os

# Change the current working directory if needed
# os.chdir('/path/to/your/module')

# Print the current working directory
print("Current working directory:", os.getcwd())

# Import the module
import math_operation_1

# Call the add function from math_operation_1 module
print(math_operation_1.add(5, 6))

Current working directory: /Users/mohdmaazraeen/Python

ModuleNotFoundError: No module named 'math_operation_1'

In [345]:
import math

def calculate_square_root(number):
    return math.sqrt(number)

if __name__ == "__main__":
    number = 16  # Example number
    result = calculate_square_root(number)
    print("Square root of", number, "is:", result)

Square root of 16 is: 4.0

In [347]:
import module_vehicle
vehicle1=module_vehicle.Vehicle("honda","shine",2020)
vehicle1.display_info()

ModuleNotFoundError: No module named 'module_vehicle'

In [355]:
import random

def guess_number():
    # Generate a random number between 1 and 10
    random_number = random.randint(1, 10)
    
    # Prompt the user to guess the number
    while True:
        try:
            guess = int(input("Guess the number between 1 and 10: "))
            if guess < 1 or guess > 10:
                print("Please enter a number between 1 and 10.")
                continue
            break
        except ValueError:
            print("Please enter a valid number.")

    # Check if the guess is correct
    if guess == random_number:
        print("Congratulations! You guessed the correct number:", random_number)
    else:
        print("Sorry, the correct number was:", random_number)

if __name__ == "__main__":
    guess_number()

AttributeError: module 'random' has no attribute 'rand1'

In [364]:
import random
print(random.uniform(1,100))

25.406425777638894

In [367]:
print(random.random())
print(random.random())

0.28955323893407703
0.4869675748227327

In [373]:
random.seed(263)
print(random.random())
print(random.random())

0.7421172774367764
0.8279271331061403

In [377]:
random.seed(263)
print(random.random())
print(random.random())

0.7421172774367764
0.8279271331061403

In [384]:
seq=["apple","mango","tamatto","carrot","banana"]
print(random.choice(seq))
print(random.sample(seq,3))

mango
['carrot', 'tamatto', 'apple']

In [395]:
seq=["apple","mango","tamatto","carrot","banana"]
random.shuffle(seq)
seq

['mango', 'carrot', 'tamatto', 'apple', 'banana']

In [402]:
#linear search
def linear_search(arr,target):
    for i in range(len(arr)):
        if arr[i]==target:
            return i
    return -1
arr=[3,4,5,6,7,2]
target=3
index = linear_search(arr,target)
if index!=-1:
    print(f"element {target} found at index {index}")
else:
    print(f"element {target} not found")

element -1 not found

In [410]:
def bubble_sort(arr):
    n=len(arr)
    for i in range(n):
        for j in range(0,n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
arr=[32,4,5,6,3,4,6,4]
print("before sorting",arr)
bubble_sort(arr)
print("after sorting",arr)

before sorting [32, 4, 5, 6, 3, 4, 6, 4]
after sorting [3, 4, 4, 4, 5, 6, 6, 32]

In [411]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
n=5
num=fact(n)
print(num)

120

In [ ]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n - 1)

n = 5  # Example value for n
num = fact(n)
print(num)

In [422]:
def fibonacci_recursive(n):
    if n==0:
        return []
    elif n==1:
        return [0]
    elif n==2:
        return [0,1]
    else:
        fib_sequence=fibonacci_recursive(n-1)
        fib_sequence.append(fib_sequence[-1]+fib_sequence[-2])
        return fib_sequence
n=5
fibonacci_recursive(n)
fib_sequence=fibonacci_recursive(n)
print("first",n,"terms of fibonacci series :",fib_sequence)

first 5 terms of fibonacci series : [0, 1, 1, 2, 3]

In [417]:
def fib(n):
    if n==0:
        return []
    elif n==1:
        return [0]
    elif n==2:
        return [0,1]
    else:
        fib_seq=fib(n-1)
        fib_seq.append(fib_seq[-1]+fib_seq[-2])
        return fib_seq
n=10
fib_seq=fib(n)
print("first",n,"terms of fibonacci series :",fib_seq)

first 10 terms of fibonacci series : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]