In [14]:
def myinfo():
    """this function will print my information""" # docstring
    name="Mohd Maaz raeen"
    course="B.tech"
    system_id= 2023322256
    print("i am",name,"and my course is",course,"and system id is ",system_id)

In [27]:
(myinfo())

i am Mohd Maaz raeen and my course is B.tech and system id is  2023322256

### positional argument

In [28]:
def any_info(name,system_id): #argument
    """this function woll print any info""" #docstring
    print("student name is ",name,"and system id is ",system_id)

In [29]:
any_info("maaz",2023322256)

student name is  maaz and system id is  2023322256

### keyword argument

In [30]:
def info(name,roll_no): #argument
    """this function will print info""" #docstring
    print("my name is",name,"and roll no is",roll_no)

In [31]:
info(roll_no=1234,name="maaz")

my name is maaz and roll no is 1234

### default argument

In [2]:
def my_info(name,id,univ_name="sharda university"): #argument
    """this function woll print my_info""" #docstring
    print("my name is ",name,"and id is ",id,"university name is ",univ_name)

In [34]:
my_info(name="maaz",id=234)

my name is  maaz and id is  234 university name is  sharda university

## function with return statement

In [1]:
def numbers(a,b):
    """this function will return sum """
    return a+b

In [2]:
numbers(3,2)

5

In [8]:
# Q square a number and divide by 2
def number(a):
    """this function will return ..."""
    return a**2/2

In [6]:
number(4)

8.0

In [11]:
# Q.6 
def discount(a):
    """this function will return mobile price after discount"""
    price=40000
    return price-(price*a)/100

In [13]:
discount(10)

36000.0

In [3]:
def number(a):
    """this function ..."""
    if a%2==0:
        return True
    else:
        return False

In [4]:
number(44)

True

### or

In [5]:
def is_even(num):
    """this ..."""
    return num%2==0

In [6]:
is_even(3)

False

In [8]:
# Q.8
def digits(num1,num2):
    """this function will return sum , product , and division"""
    return num1+num2,num1*num2,num1/num2

In [10]:
digits(5,5)

(10, 25, 1.0)

In [11]:
def sum_sub(num1,num2):
    addition=num1+num2
    product=num1*num2
    division=num1/num2
    return addition,product,division

In [13]:
sum_sub(2,2)

(4, 4, 1.0)

## *args and **kwargs

### Q. to calculate fruits price

In [34]:
# without *args
def calculate_sum(apple,bananan,orange):
    total = apple+bananan+orange
    return total
result=calculate_sum(1,2,3)
print("sum= ",result)

sum=  6

In [1]:
# using *args
def calculate(*addition):
    return sum(addition)

result = calculate(1,2,3,4,5,6,7,8,9)
print("sum = ",result)

sum =  45

In [1]:
def calculate(*price,discount=0.1):
    total=sum(price)-discount*sum(price)
    return total
result = calculate(10,20,32)
print("sum = ",result)

sum =  55.8

In [13]:
def calculate(*price,discount=0.1):
    total=sum(price)-discount*sum(price)
    return total
calculate(10,20,32)

55.8

In [24]:
#Explanation
def calculate_sum(*price,discount=0.1):
    sum(price)
    print("sum of fruit",sum(price))
    print("discount ",discount)
    print("discount price = ",discount*sum(price))
    total =sum(price)-discount*sum(price)
    return total
result= calculate_sum(12,13,15)
print("total = ",result)

sum of fruit 40
discount  0.1
discount price =  4.0
total =  36.0

In [29]:
def calculate_total(**price):
    total=(price.values())
    return total
# price of fruits
banana_price=60
apple_price=90
mango_price=50
total=calculate_total(banana=banana_price,apple=apple_price,mango=mango_price)
print("total = ",total)

TypeError: unsupported operand type(s) for *: 'float' and 'dict_values'